.jumbotron {
    /* padding: 70px 30px 70px 30px;
    margin: 0px auto; */
    /* background-color: #9575cd !important; */
    background-image: url(https://storage.googleapis.com/f-club-management.appspot.com/sk2uEvents_Page_Header_2903ed9c-40c1-4f6c-9a69-70bb8415295b.jpg?GoogleAccessId=firebase-adminsdk-601p4%40f-club-management.iam.gserviceaccount.com&Expires=1893456000&Signature=GJFwZ3o9ebIetKtqdyUJQ1R2ESKlxoe%2BNBzZxJFTkGrlSI6zc9%2Fb1ib7zoxFp%2BY8Ps1EdskmYtQXD9VWQenfFisJexYMJdNClX2pIdiFHAglshce1uwmdOECzQ%2FzHnVLGsTINsm0SBenCTT%2F6%2BHP1LLOS3gjixApDyiyuTSumburlnEZXYbtwZ0Q0vgbwGunf1LdrFH7r3WI%2F4lho2m8s2Ir%2BH7pkRvdaH5ao7HZt8aNg0pEYyU6C3bQORIy9eSCE8KeC1TaeiBangRZIT5TQ3tJmebPHxlexj7gljTQpjTecrSupWanJb0Mf5Nn2023sUspQuttZqxHt62ZdP1bnA%3D%3D);
    background-size: 100% 500px;
    background-repeat: no-repeat;
    /* color: floralwhite; */
    height: 500px;
    border-image-width: 100%;
}